.work-card-text{

    padding-left: 3rem;
    padding-right: 3rem;
}

.blue-card{
    background-color: #f2f6ff;
}

.yellow-card{
    background-color: azure;
}

.green-card{
    background-color: #f2f6ff;
}

